@media (max-width: 739px) {
    .main {
        flex-direction: column-reverse;
        align-items: center;
    }

    .form-checkout {
        margin-top: 40px;
    }

    .prodcut-img {
        width: 125px;
    }

    .footer {
        margin-top: 60px;
    }
}