* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    box-sizing: inherit;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 62.5%;
    font-weight: 600;
}

.page-container {
    padding-top: 10px;
    padding-bottom: 20px;
}

.page-heading {
    font-size: 3.6rem;
    color: #4E5150;
}

.main {
    margin-top: 50px;
}

/* form layout */
.form-wrap {
    margin-bottom: 50px;
}

.checkbox-wrap {
    display: flex;
    align-items: center;
}

.form-info {
    font-size: 1.8rem;
}

.form-group {
    margin-top: 15px;
}

.form-label {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    color: #4F4F4F;
}

.checkbox-label {
    font-size: 1.6rem;
    padding-left: 10px;
}

.form-input-wrap {
    height: 56px;
    max-width: 100%;
    margin-top: 7px;
    padding: 0 15px;
    border: 1px solid #828282;
    border-radius: 12px;
    display: flex;
    align-items: center;

}

.form-icon {
    font-size: 20px;
    color: #828282;
    margin-right: 18px;
}

input[type="checkbox"] {
    width: 21px;
    height: 21px;
}

input[type="text"], select{
    width: 100%;
    outline: none;
    border: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: #929292;
}

.form-submit-btn {
    width: 166px;
    height: 54px;
    background-color: #F2994A;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 12px;
    margin-top: 24px;
    float: right;
}

.message {
    display: none;
    font-size: 1.4rem;
    font-weight: 500;
    color: red;
    font-style: italic;
    margin: 5px 10px;
}

.form-group.invalid >
.form-input-wrap {
    border: 1px solid red;
}

.form-group.invalid > .message {
    display: block;
}

/* Bill info */
.bill-info {
    width: 383px;
    height: 535px;
    background-color: #F2F2F2;
    border-radius: 12px; 
    padding: 0 30px 30px;
    display: flex;
    flex-direction: column;
}

.product-list {
    flex: 1;
}

.product-wrap {
    margin-top: 30px;
    display: flex;
}

.prodcut-img {
    width: 135px;
    border-radius: 12px;
}

.product-info-wrap {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.product-name {
    font-size: 1.6rem;
    margin-bottom: 6px;
}

.product-price {
    flex: 1;
}

.sale-off-price {
    font-size: 1.6rem;
    color: #F2994A;
}

.current-price {
    font-size: 1.2rem;
    color: #4E5150;
    text-decoration: line-through;
    margin-left: 10px;
}

.product-quantity-box {
    width: 135px;
    height: 52px;
    border: 1px solid #828282;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.qtn-btn {
    width: 25px;
    height: 20px;
    font-size: 1.6rem;
    background-color: #E0E0E0;
    border: none;
}

.product-quantity {
    font-size: 1.6rem;
}

.cost-group {
    position: relative;
    display: flex;
    margin-top: 20px;
}

.cost-group::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    height: 1px;
    background-color:#BDBDBD;
}

.cost-name {
    font-size: 1.8rem;
    flex: 1;
}

.cost-value {
    font-size: 1.4rem;
}

/* Footer */
.footer {
    font-size: 1.4rem;
    color: #A9A9A9;
    margin-top: 185px;
    text-align: center;
}